<nav class="navbar-column">

  {{!-- Logo --}}
  <div class="navbar-logo-container">
    <a href="/admin/tweets">
      <img src="/stylesheets/icons/logo.svg" alt="logo" class="navbar-logo">
    </a>
  </div>

  {{!-- Tweets tab --}}
  <a class="nav-row {{#if tweets}}active{{/if}}" id="adminTweets" href="/admin/tweets">
    <div class="nav-row-home-icon background-image"></div>
    <h5 class="nav-row-title">推文清單</h5>
  </a>

  {{!-- Users list --}}
  <a class="nav-row {{#if users}}active{{/if}}" id="adminUsers" href="/admin/users">
    <div class="nav-row-user-icon"></div>
    <h5 class="nav-row-title">使用者列表</h5>
  </a>

  {{!-- Log out --}}
  <form action="/admin/signin" method="POST" class="logout-form">
    <button type="submit" class="logout-btn" id="adminLogout">
      <div class="nav-row">
        <div class="nav-row-logout-icon background-image"></div>
        <h5 class="nav-row-title">登出</h5>
      </div>
    </button>
  </form>

</nav>
